.trip-list {
    margin-left: 15vw;
    margin-top:10vh;
    width: 70vw;
    padding: 0;
    list-style: none;
    background-color: #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trip-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #333; /* Dark background color to simulate black paper */
    color: #fff; /* White text color for contrast */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Soft outer shadow */
    0 1px 3px rgba(0, 0, 0, 0.08); /* Slightly darker inner shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effect */
}

.trip-header {
    background-color: #444; /* Slightly lighter for differentiation */
    font-weight: bold;
    color: #eee; /* Lighter text color for header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Distinct shadow for header */
    padding: 15px 20px; /* Extra padding for header */
    text-transform: uppercase; /* Uppercase text for header */
}

.trip-row:hover {
    transform: translateY(-2px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 
    0 4px 6px rgba(0, 0, 0, 0.08); 
}

.trip-row span {
    flex: 1;
    padding: 0 10px;
}

.trip-id {
    width: 50px;
}

.trip-title {
    flex: 2;
}

.trip-date {
    flex: 1;
}

.trip-actions {
    width: 50px;
    text-align: center;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s;
}

.delete-btn:hover {
    transform: scale(1.2);
}
